@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap");

body {
    background: #008080;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;

    font-family: "MS Sans Serif";

    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

    overflow: hidden;
}

.container {
    padding: 0px;
    margin-top: 1%;
    margin-bottom: 1%;
}

.welcome_img {
    display: block;
    max-width: 100%;
    height: auto;
    max-height: 100%;
}

#progressdiv {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: gray;
}

#progressbar {
    width: 1%;
    height: 30px;
    background-color: #008080;
}

.login {
    display: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 10;
    border-width: 1px;
    border-color: #ffffff #000000 #000000 #ffffff;
    border-style: solid;
    background: #c0c0c0;
    width: 30%;
    height: 18%;
    position: absolute;
    top: 30%;
    left: 36%;
}

.logintitle {
    padding: 0px 0px 0px 20px;
    color: white;
    background-image: linear-gradient(to right, #000080, #0882ce);
}

.loginbody {
    font-size: 14px;
    padding: 0px 0px 0px 0px;
}

.btn:focus {
    box-shadow: none;
}

.btn {
    border-width: 1px;
    border-style: solid;
    border-color: #ffffff #000000 #000000 #ffffff;
    border-radius: 0;
    padding: 1px 4px;
    font-size: 14px;
    background-color: #c0c0c0;
}

.loginbtn {
    margin: 20px auto 3px;
    padding: 0px 12px;
}

.btn:hover {
    background: #a1a1a1;
}

.loginbtns {
    padding: 4px 10px;
    margin: 20px auto 3px;
    display: block;
    position: relative;
    bottom: 0px;
}

.keyico {
    padding: 0px 0px 0px 50px;
}

.program {
    padding-top: 1%;
    width: 5%;
    background-color: transparent;
    border: none;
}

.program:hover {
    cursor: pointer;
}

.program:focus .programicon,
.program:focus .programtext {
    background-color: #222280;
    opacity: 50%;
}

.programtext {
    font-size: 14px;
    color: white;
}

footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    background-color: #c0c0c0;
}

.startbtn {
    margin: 2px;
    background: #c0c0c0;
    border-width: 2px;
    border-style: solid;
    border-color: #ffffff #000000 #000000 #ffffff;
    font-size: 14px;
}

#datetime {
    margin: 2px;
    float: right;
    padding-right: 1%;
    padding-left: 1%;
    border-width: 1px;
    border-style: solid;
    border-color: #757575 #ffffff #ffffff #757575;
}

.startmenu {
    display: none;
    outline: 1px solid #000000;
    background: #c0c0c0;
    border-width: 1px;
    border-style: solid;
    border-color: #ffffff #808080 #808080 #ffffff;
    width: 268.8px;
    height: 378.8px;
    position: absolute;
    bottom: 26px;
    left: 0px;
    z-index: 10;
}

.startmenutitle {
    color: white;
    font-weight: bold;
    background-image: linear-gradient(to right, #000080, #000000);
    padding-left: 6%;
    transform: rotate(-90deg);
    width: 140%;
    position: absolute;
    left: -175px;
    bottom: 176px;
}

.startmenuprograms {
    position: absolute;
    left: 0px;
    top: 0px;
}

.startmenuprogram {
    margin-left: 10%;
    padding-top: 5%;
    width: 90%;
    background-color: transparent;
    border: none;
}

.starttext {
    float: left;
}

.startmenuprogram:hover {
    background-color: #000080;
    color: white;
    cursor: pointer;
}

.divisor {
    border-width: 1px;
    border-style: solid;
    border-color: #ffffff #808080 #808080 #ffffff;
    position: absolute;
    width: 210px;
    left: 34px;
    bottom: 55px;
}

.terminatebtn {
    margin-top: 18.8%;
}

.wpopup {
    position: relative;
    top: 0%;
    left: 0%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 9;
    border-width: 1px;
    border-color: #ffffff #000000 #000000 #ffffff;
    border-style: solid;
    background: #c0c0c0;
    width: 575px;
    height: 332px;
}

.popuptitle {
    font-weight: bold;
    padding: 0px 0px 0px 10px;
    color: white;
    background-image: linear-gradient(to right, #000080, #0882ce);
}

.subtitle {
    font-size: 30px;
    margin: 10px 0px 10px 20px;
}

.popupinfo {
    border-width: 1px;
    border-color: #a7a7a7 #ffffff #ffffff #a7a7a7;
    border-style: solid;
    background: #fff3cd;
    width: 95%;
    height: auto;
    margin-left: 20px;
    padding-left: 20px;
    padding-top: 10px;
}

.popupbtn {
    padding: 0px 37px;
    margin-left: 0px;
    margin-bottom: 10px;
}

.popupbtns {
    margin-top: 39%;
}

.divisor2 {
    border-width: 1px;
    border-style: solid;
    border-color: #808080 #ffffff #ffffff #808080;
    margin-left: 68%;
    width: 26%;
}

.popupclose {
    padding: 0% 5%;
    margin-left: 73%;
    margin-top: 1%;
}

.closebtn {
    background-color: #c0c0c0;
    color: black;
    font-weight: bold;
    margin: 3px 3px;
    padding: 0px 5px 0px 3px;
    font-size: 11px;
    float: right;
}

.taskbtn {
    margin: 1px;
    background: #c0c0c0;
    border-width: 2px;
    border-style: solid;
    border-color: #000000 #ffffff #ffffff #000000;
    font-size: 14px;
}

#painttask {
    display: none;
}

.errorwindow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 99;
    border-width: 1px;
    border-color: #ffffff #000000 #000000 #ffffff;
    border-style: solid;
    background: #c0c0c0;
    width: 360px;
    height: 155px;
    display: none;
    position: relative;
    top: -100px;
    left: 0%;
}

.errorbody {
    margin-top: 10%;
    margin-left: 10%;
}

.errorbtn {
    padding: 0px 37px;
    margin-left: 40%;
    margin-top: 8%;
}

.windowpopup {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 200;
    border-width: 1px;
    border-color: #ffffff #000000 #000000 #ffffff;
    border-style: solid;
    background: #c0c0c0;
    width: 400px;
    height: 200px;
    display: none;
    position: absolute;
    top: 34%;
    left: 40%;
}

.windowpopupbody {
    margin-top: 8%;
}

.mspaint {
    position: absolute;
    top: 3%;
    left: 3%;
    background-color: #c0c0c0;
    border-width: 1px;
    border-color: #ffffff #000000 #000000 #ffffff;
    border-style: solid;
    height: 852.3px;
    width: 1804.8px;
    display: none;
}

.canvas {
    position: absolute;
    top: 50px;
    left: 88px;
    border-width: 1px;
    border-color: #ffffff #000000 #000000 #ffffff;
    border-style: solid;
    background-color: white;
}

.paintbtn {
    font-size: 14px;
    background-color: transparent;
    border: 1px #c0c0c0 solid;
}

.paintbtn:hover {
    border-width: 1px;
    border-color: #ffffff #000000 #000000 #ffffff;
    border-style: solid;
}

.toolbar {
    margin-left: 12px;
    width: 65px;
    height: 50%;
}

.tool {
    background: transparent;
    border-width: 1px;
    border-color: #ffffff #000000 #000000 #ffffff;
    border-style: solid;
    margin: 0px;
}

.tool:disabled {
    background: white;
    cursor: not-allowed;
    opacity: 50%;
}

.tool:active {
    border-width: 1px;
    border-style: solid;
    border-color: #000000 #ffffff #ffffff #000000;
    background-color: #c0c0c0;
}

.tool.active {
    border-width: 1px;
    border-style: solid;
    border-color: #000000 #ffffff #ffffff #000000;
    background-color: white;
}

.color_selector {
    width: 65px;
    border-width: 1px;
    border-style: solid;
    border-color: #000000 #ffffff #ffffff #000000;
    background-color: #c0c0c0;
    padding: 0;
}

.brush_size {
    width: 65px;
    font-size: 14px;
}

.crypto {
    position: relative;
    top: 0%;
    left: 25%;
    background-color: #c0c0c0;
    border-width: 1px;
    border-color: #ffffff #000000 #000000 #ffffff;
    border-style: solid;
    height: 50%;
    width: 54%;
    display: none;
    z-index: 11;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    border-width: 1px;
    border-style: solid;
    border-color: #ffffff #000000 #000000 #ffffff;
    background-color: #c0c0c0;
    z-index: 1;
    width: 100px;
    min-width: 100px;
}

.dropdown-content button {
    font-size: 14px;
    background-color: transparent;
    border: none;
    width: 100%;
}

.dropdown-content button:hover {
    background-color: #000080;
    color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.terminal {
    font: 14px Inconsolata, monospace;
    padding: 10px;
    background-color: black;
    color: white;
    width: 99.9%;
    height: 44.3vh;
    text-shadow: 0 0 5px #c8c8c8;
}

.searchcrypto {
    font-size: 14px;
}

pre {
    color: white;
}

#cryptotask {
    display: none;
}

.clippy {
    z-index: 50;
    position: absolute;
}

.speech {
    font-size: 14px;
    padding-top: 1px;
    padding-left: 5px;
    position: absolute;
    top:-60px;
    left: -25px;
    height: 60px;
    width: 130px;
    background-color: #fff3cd;
    border-width: 1px;
    border-style: solid;
    border-color: #000000;
    border-radius: 5px;
}

.speech:before {
    content: "";
    width: 15px;
    height: 10px;
    position: absolute;
    clip-path: polygon(0 0, 100% 100%, 100% 0);
    background-color: #fff3cd;
    border-width: 1px;
    border-style: solid;
    border-color: #fff3cd #000000 #000000 #000000;
    left: 10px;
    top: 58px;
}

#programpc {
    position: absolute;
}

#programpaint {
    position: absolute;
    top: 90px;
}

#programcrypto {
    position: absolute;
    top: 180px;
}

#programweather {
    position: absolute;
    top: 270px;
}

#programsnake {
    position: absolute;
    top: 360px;
}

#programbin {
    position: absolute;
    top: 450px;
}

.mycomputer {
    position: absolute;
    top: 18%;
    left: 27%;
    background-color: #c0c0c0;
    width: 800px;
    height: 500px;
    border-width: 1px;
    border-style: solid;
    border-color: #ffffff #000000 #000000 #ffffff;
    display: none;
}

.computerbody {
    padding-top: 6px;
    outline: #a1a1a1 solid 2px;
    position: absolute;
    left: 6px;
    background-color: white;
    width: 785px;
    height: 410px;
    border-width: 1px;
    border-style: solid;
    border-color: #000000 #ffffff #ffffff #000000;
}

.pcbottom {
    padding-left: 5px;
    padding-top: 1px;
    font-size: 14px;
    outline: #a1a1a1 solid 2px;
    border-width: 1px;
    border-style: solid;
    border-color: #000000 #ffffff #ffffff #000000;
    height: 24px;
}

.bottom1 {
    width: 285px;
    position: absolute;
    bottom: 6px;
    left: 6px;
}

.bottom2 {
    width: 492px;
    position: absolute;
    bottom: 6px;
    left: 300px;
}

.mypcprogram {
    background-color: transparent;
    border: none;
}

.mypcprogram:hover {
    cursor: pointer;
}

.mypcprogram:focus .mypcprogramicon,
.mypcprogram:focus .mypcprogramtext {
    background-color: #222280;
    color: white;
}

#computertask {
    display: none;
}

.nopermissionwindow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 98;
    border-width: 1px;
    border-color: #ffffff #000000 #000000 #ffffff;
    border-style: solid;
    background: #c0c0c0;
    width: 360px;
    height: 155px;
    position: relative;
    top: 50px;
    left: 0px;
    display: none;
}

.nopermissionbody {
    margin-top: 10%;
    margin-left: 10%;
}

.recyclebin {
    position: absolute;
    top: 18%;
    left: 27%;
    background-color: #c0c0c0;
    width: 800px;
    height: 500px;
    border-width: 1px;
    border-style: solid;
    border-color: #ffffff #000000 #000000 #ffffff;
    display: none;
}

#bintask {
    display: none;
}

.weather {
    position: absolute;
    top: 18%;
    left: 23%;
    background-color: #c0c0c0;
    border-width: 1px;
    border-color: #ffffff #000000 #000000 #ffffff;
    border-style: solid;
    height: 53%;
    width: 54%;
    z-index: 12;
    display: none;
}

.weatherterminal {
    font: 14px Inconsolata, monospace;
    padding: 10px;
    background-color: black;
    color: white;
    width: 99.9%;
    height: 47.3vh;
    text-shadow: 0 0 5px #c8c8c8;
}

#weathertask {
    display: none;
}

.snake {
    position: absolute;
    top: 15%;
    left: 32%;
    width: 610px;
    height: 638px;
    border-width: 1px;
    border-color: #ffffff #000000 #000000 #ffffff;
    border-style: solid;
    display: none;
}

.snakecanvas {
    position: absolute;
}

#snakecanvas { 
    background-color: #1a1a1a;
    border: none;
}

#snaketask {
    display: none;
}
